/*
 Main CSS of Bastilia.Ru
 (c) Bastilia megacreative group, 2004-2006
 (c) L. Tsarev, 2006
 (c) Original design by Krom, 2004
*/
body {
 background-color: #FFFFFF;
 background-image: url(../images/texture_24.jpg);
 margin : 0;
}
a:link {
	color: #666666;
	text-decoration: none;
	background-color: #FFFFFF;
}
a:visited {
	color: #666666;
	text-decoration: none;
	background-color: #FFFFFF;
}
a:hover {
	color: #c4c4c4;
	background-color: #666666;
}
p, cite, form {
 margin: 0.8em;
}
label {
 margin: 0.2em;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}
.boxheader {
  margin: 0px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px;
	padding-left:10px;
	text-align: left;
	background-color: #666666;
}
.globalheader {
 text-align:center;
 font-size:medium;
}
.globalheader strong {
 font-size:x-large;
}
.globalheader em {
 font-style: normal;
 font-size: small;
}
.chain {
 background-image: url(../images/chain.gif);
	width: 7px;
}
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 2px;
}
.ruler {
 background-color:#FFFFFF;
 width:100%;
 margin:0px;
}
.ruler tr td {
 background-color:#666666;
 height: 3px;
}
.news {
 padding: 7px;
}
.newsheader {
 text-align: right;
 font-weight: bold;
}
.side a:hover {
	background-color: #FFFFFF;
	color: #666666;
}
.promobox a:hover {
  background-color: #FFFFFF;
	color: #666666;
}
.promobox {
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-weight: bold;
}
.newsauthor {
 text-align:right;
}
.box {
 vertical-align: top;
 background-color: #FFFFFF;
 text-align: justify;
}
.bottom {
 vertical-align:bottom;
 padding: 0px;
}
.line {
 background-color:#666666;
 height: 3px;
}
.side {
 vertical-align: top;
 text-align: center;
	width: 150px;
	margin-top: 0px;
	padding-top: 0px;
}
.archive {
 text-align: center;
}
.menuitem a:hover {
	color: #c4c4c4;
	background-color: #666666;
}
.bigger {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: center;
}
.menu tr td {
  border-top:    solid #666666 2px;
  border-left:   solid #666666 2px;
  border-right:  solid #CCCCCC 1px;
  border-bottom: solid #CCCCCC 1px;
  text-align: left;
  background-color: #FFFFFF;
  padding-bottom:1px;
  width:98%;
}

.menu_sep
{
  border: 0;
}
.menu tr td a:hover {
  color: #c4c4c4;
	background-color: #666666;
}
.menu tr td.label {
 border: none;
 text-align: center;
 background: none;
 padding: 0;
 font-weight: bold;
}
.logo a img {
 display: block;
 height: 150px;
 width: 150px;
	border-style: none;
}

.logo2 a img {
 display: block;
 height: 150px;
 width: 150px;
 border-style: none;
}

.logo2 a:hover {
	background-color:none;
	color: none;
}

.logo2 a {
 background-color:none;
 color:none;
}

.epigraph {
 text-align: right;
 font-style: italic;
 padding-bottom:1em;
 float:right;
 width:50%;
}
h4 {
 font-size: small;
 text-align: left;
}
.syltext {
 clear:both;
}
.roletable {
 width: 95%;
 text-align: center;
}
.roletable tr td {
 text-align: left;
}
h2 {
text-align: center;
}
.menuitem {
	border-top:				solid #666666 2px;
	border-left:				solid #666666 2px;
	border-right:			solid #CCCCCC 1px;
	border-bottom:		solid #CCCCCC 1px;
	text-align: 				left;
	background-color: 	#FFFFFF;
	padding:					0px;
	padding-bottom:		1px;
	margin:					7px;
	margin-top:				0px;
	list-style-type:			none;
}
.menu2 {
	margin:					0px;
	padding:					0px;
	list-style-type:			none;
}
div.syltext ol li
{
 margin: 1em;
}
a.video_link:hover
{
 background-color:none;
}
.video_link img
{
 border: 0;
 display: block;
}
.video_link
{
 float:left;
}
.video_descr
{
 vertical-align: center;
 }
.video tr td a img
{
 border:0;
 display:block;
 }

.date
{
 font-weight: bold;
}
.avatar img
{
 display: block;
 width: 100px;
 height: 100px;
}
.avatar
{
 vertical-align: top;
}
h4 {
 margin-left: 1em;
}
.faces tr td h3
{
 text-align: center;
}
.roles {
 text-align: center;
}
.roles tr td {
 text-align: left;
}

.matches {
 text-align: center;
 margin-left: 2em;
}

.nb {
 margin: 1em;
 padding: 1em;
 border-style: solid;
 border-color: #000000;
 border-width: 1px;
 background-color: #CCCCCC;
}

blockquote {
 font-style: italic;

}